
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
      
      input {
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 300px;
      }
      
      button {
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      button:disabled {
        background-color: #ddd;
        color: #999;
        cursor: default;
      }
      
      button:hover {
        background-color: #3e8e41;
      }
      
	
