:root{
  --primary-color:black;
  --secondary-color:green;
  --backgroung-color:white;

  --font-small:20px;
  --font-medium:30px;
  --font-large:40px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body,#root{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;}

  
